!!! 5
%html
  %head
    %title Teijo Laine - Projects
    %meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    %link(href="styles.css" rel="stylesheet" type="text/css")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.1, maximum-scale=1.0 user-scalable=no")
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1488867-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %article
      %header
        %h1 Teijo Laine
        %h2 Projects
      %ul#projects
        %li(class="mugshot")
          %a(title="LinkedIn" href="http://fi.linkedin.com/pub/teijo-laine/53/655/663/")
      {{#projects}}
        %li{{cls}}
          %a(href="{{url}}")
            %time(datetime="{{date}}") {{year}}
            %h3
              {{text}}
            %p {{description}}
            %ul
              {{#tech}}
              %li {{.}}
              {{/tech}}
      {{/projects}}
      %footer
        %address
          Contact via mail teijo@thisdomain
